<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Jack Mings">
<meta name="description" content="Jack Mings' Resume">
<link rel="stylesheet" href="css/IndexStyle.css">
	<title>Jack Mings' Resume</title>
</head>
<body onload = "begin();">
	<header>
		<div class="logo">Jack Mings<i><br><div class="logo2">BS Electrical Engineering<div class="logo3">Mn Business Administration</i></br>
		<hr style="height :1px; width:100%; border-width:2px; color:white;">
	</header>
	<article>
	<aside>
		<nav>
			<ul>
				<li><a href="Index"><div class="sidebar">Home</a><li>
				<li><a href="EducationHistory"><div class="sidebar">Education History</a><li>
				<li><a href="WorkExperience"><div class="sidebar">Work Experience</a><li>
				<li><a href="Schedule"><div class="sidebar">Schedule</a><li>
				<li><a href="FeedbackForm"><div class="sidebar">Give Feedback</a><li>
			</ul>
			<p class="contact"> Contact Information </p>
			<hr style="width:300px; padding: 0px 10px;">
			<p class="contactinfo"> Email: Jack.Mings@siu.edu<br>
				Phone: 618-841-5644
			</p>
		</nav>
		<h1 class="contactinfo" style="color: black;">Play the Shape Game!</h1>
		<input type="button" value="Play!" onclick="playButton();">
		<input type="button" value="Reset!" onclick="resetButton();">
		<input type="button" value="Pause!" onclick="pauseButton();">
		


		<canvas id="canvasGame"
			hidden= true;
			style="border:3px solid black;"
			width="400px"
			height="250px"
		></canvas>



	</aside>

	<section>
	
		
	<figure>
		<img src="img/JackMings.jpeg" width="500" height="600">
		<figcaption class="white">
			<p><cite>"Science can amuse and fascinate us all, but it is engineering that changes the world."</cite><br>by Isaac Asimov.</p>
			<p style="font-size: 30px; color: black; font-weight:bold;">ABOUT ME<br></p>
			<p>My name is Jack Mings and I am an Electrical Engineering Major at Southern Illinois University Carbondale.<br>
				I am currently on track to graduate December of 2022 with a Bachelors in Electrical Engineering and a minor in Business Administration.<br>
				I have lived in Southern Illinois my entire life and grew up in Eldorado Illinois.  My hobbies include hunting, fishing, gaming, and hanging out with friends and family.<br>
				I now currently reside in Marion Illinois and am working on finishing internships to gain cruscial experience in the Engineering field.

			</p>
		</figcaption>
	</figure>
	</section>
	</article>
	<footer>
		<p style="font-size: 30px; color: white; font-weight:bold;"> All Rights Reserved </p>
	</footer>
	<script src="js/Canvasgame.js" defer></script>
</body>
</html>