<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Jack Mings">
<meta name="description" content="Jack Mings' Education History">
<link rel="stylesheet" href="css/EducationHistoryStyle.css">
	<title>Jack Mings' Education History</title>
</head>
<body>
	<header>
		<img src="img/SIULogo.png" width="100" height="100">
		<hr style="height :1px; width:100%; border-width:2px; color: black;">
	</header>
	<article>
	<aside>
		<nav>
			<ul>
				<li><a href="Index"><div class="sidebar">Home</a><li>
				<li><a href="EducationHistory"><div class="sidebar">Education History</a><li>
				<li><a href="WorkExperience"><div class="sidebar">Work Experience</a><li>
				<li><a href="Schedule"><div class="sidebar">Schedule</a><li>
				<li><a href="FeedbackForm"><div class="sidebar">Give Feedback</a><li>
			</ul>
			<p class="contact"> Contact Information </p>
			<hr style="width:300px; padding: 0px 10px;">
			<p class="contactinfo"> Email: Jack.Mings@siu.edu<br>
				Phone: 618-841-5644
			</p>
		</nav>
	</aside>
	<section>
	
		
	<figure>
		<img src="img/EducationHistory.jpeg" width="800" height="600">
		<figcaption class="white">
			<p style="font-size: 30px; color: black; font-weight:bold;">EDUCATION HISTORY<br></p>
			<p>The photo above is of my Senior Design group and I.  Going from left to right is Jerimiah, AJ, and myself.<br>
				I included this photo because it shows me in my final year at SIUC.  For our senior project we are designing a hybrid renewable energy system.<br>
				This will allow us to gather both solar energy as well as wind energy.  It will also allow us to be able to both store energy and connect it to the grid.<br>
				This will be my fifth and final year at SIU and I can't wait to see whats in store for me next!
			</p>

	<audio autoplay controls loop>
		<source src="img/SIU.mp3" type="audio/mpeg">
	</audio>
		</figcaption>
	</figure>

	</section>
	</article>
	<footer>
		<p style="font-size: 30px; color: white; margin: 15px; font-weight:bold;"> All Rights Reserved </p>
	</footer>
	
</body>
</html>