<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Jack Mings">
<meta name="description" content="Jack Mings' Resume">
    <title>Feedback Message</title>
</head>
<body>
    <h1 style="color: Blue;">Thank you for your feedback.  You are number {{count}} to have left feedback!</h1>
    <h2>{{text}}</h2>
</body>
</html>