<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Jack Mings">
<meta name="description" content="Jack Mings' Resume">
    <title>Feedback Message</title>
</head>
<body>
    <h1>Thank you for your feedback.  You are my n-th honored guest who left feedback</h1>
    <h2>{{text}}</h2>
</body>