<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Jack Mings">
<meta name="description" content="Jack Mings' Work Experience">
<link rel="stylesheet" href="css/WorkExperienceStyle.css">
	<title>Jack Mings' Work Experience</title>
</head>
<body>
	<header>
		<img src="img/AmerenLogo.png" width="120" height="90">
		<hr style="height :1px; width:100%; border-width:2px; color: black;">
	</header>
	<article>
	<aside>
		<nav>
			<ul>
				<li><a href="Index"><div class="sidebar">Home</a><li>
				<li><a href="EducationHistory"><div class="sidebar">Education History</a><li>
				<li><a href="WorkExperience"><div class="sidebar">Work Experience</a><li>
				<li><a href="Schedule"><div class="sidebar">Schedule</a><li>
				<li><a href="FeedbackForm"><div class="sidebar">Give Feedback</a><li>
			</ul>
			<p class="contact"> Contact Information </p>
			<hr style="width:300px; padding: 0px 10px;">
			<p class="contactinfo"> Email: Jack.Mings@siu.edu<br>
				Phone: 618-841-5644
			</p>
		</nav>
	</aside>
	<section>
	<div class="table">
		<div class="caption"> Work Locations</div>
			<div class="row">
				<span><img src="img/Callaway.jpeg" width="400" height="400" alt=""></span>
				<span><img src="img/RushIsland.jpeg" width="500" height="400" alt=""></span>
				<span><video src="img/Arcflash.mp4" width="400" height="400"
					preload="metadata" controls
					</video>
			</div>
			<div class="row">
				<span>Callaway Nuclear Facility</span>
				<span>Rush Island Coal Plant</span>
				<span>Arc Flash Example</span>
			</div>
		</div>
	</section>
	</article>
	<footer>
		<p style="font-size: 30px; color: white; margin: 15px; font-weight:bold;"> All Rights Reserved </p>
	</footer>
	
</body>
</html>