	.sidebar{
		text-transform:uppercase;
		font-size:15px;
		font-family:Georgia;	
	}

	body{
		background-color: Black;
	}
	
	header{
		height: 120px;
		background-color: white;
		padding: 0 30px;
	}
	

	nav a{
		font-weight: bold;
		font-size: 30px;
		color: White;
		text-decoration: none;
	}
	
	article{
		height: 900px;
		width: 100%;
		background-image: url('../img/BACKGROUND.jpg');
	}

	section{
		display: flex;
		justify-content: center;
		height: 900px;
		width: 70%
		float: right;
		text-align: center;
	}

	aside{
		float:left;
		width:400px;
		height:900px;
	}

	footer{
		text-align: left;
		height:100px;
		padding: 0 40px;
		background-color: black;
	}

	nav ul{
		list-style:none;
	}

	nav li{
		padding: 15px 0px;
	}
	
	.contact{
		font-weight: bold;
		font-size: 30px;
		color: Black;
		font-family: Georgia;
		padding: 0 50px;
	}
	
	.contactinfo{
		font-size: 20px;
		color: Black;
		font-family: Georgia;
		padding: 0 50px;
	}

	.table{
		display: table;
		border-spacing: 20px;
		height: 450px;
		width: 70%;
	}

	.caption{
		display: table-caption;
		font-size: 40px;
		text-align: center;
		color: white;
		font-weight: bold;
		font-family: Georgia;
		background-color: black;
	}

	.row{
		display: table-row;
	}

	.row > * {
		display: table-cell;
		text-align: center;
		color: white;
		font-weight: bold;
		font-family: Georgia;
		background-color: black;
		font-size: 20px;
	}